
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/CR-3-logo.png">
  <link rel="icon" type="image/png" href="../assets/img/CR-3-logo.png">
  <title>
    CR3 | Register
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.2" rel="stylesheet" />
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body class="bg-gray-200">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <!-- End Navbar -->
      </div>
    </div>
  </div>
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-plain">
                <div class="card-header pb-0 text-start">
                  <h4 class="font-weight-bolder">Register</h4>
                  <p class="mb-0">Enter your email and password to sign in</p>
                </div>
                <div class="card-body">
                  <%  if(typeof alert != 'undefined'){  %>

                      <div class="alert text-white alert-<%= alertType %> alert-dismissible fade show" role="alert">
                        <span> <%= alert %> </span>
                        <button type="button" class="btn-close text-dark" data-bs-dismiss="alert" aria-label="Close">&times</button>
                      </div>

                  <%  } %>
                  <form role="form" method="post" action="/register">
                    <div class="mb-3">
                      <input type="text" required name="user" class="form-control form-control-lg" placeholder="Username" aria-label="Username">
                    </div>
                    <div class="mb-3">
                      <input type="email" required name="email" oninput="this.value = this.value.toLowerCase()" class="form-control form-control-lg" placeholder="Email" aria-label="Email">
                    </div>
                    <div class="mb-3">
                      <input type="password" required name="pass" class="form-control form-control-lg" placeholder="Password" aria-label="Password">
                    </div>
                    <div class="mb-3">
                      <input type="password" required name="re_pass" class="form-control form-control-lg" placeholder="Password again" aria-label="Password again">
                    </div>
                    <% if(typeof sponsorID != 'undefined'){ %>
                      <div class="mb-3">
                        <input type="text" required name="sponsorID" class="form-control form-control-lg" value="<%=sponsorID%>" aria-label="Sponsor ID">
                      </div>
                    <% }else{ %>
                    <div class="mb-3">
                      <input type="text" required name="sponsorID" class="form-control form-control-lg" placeholder="Sponsor ID" aria-label="Sponsor ID">
                    </div>
                    <% } %>
                    <label for="">Enter CR32021 if you don't have a sponsor ID</label>

                    <div class="text-center">
                      <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Register</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    Have an account already?
                    <a href="/login" class="text-primary text-gradient font-weight-bold">Login</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.2"></script>
</body>

</html>
